/* Reset dasar */
html,
body {
  background-color: #f0efea;
  color: #222;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.bi-arrow-left-circle {
  color: #074173;
}

/* Deskripsi */
.description {
  text-align: center;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-size: 18px;
  padding-top: 80px;
}

/* text */
.text-p {
  text-align: justify;
  font-size: 16px;
}

/* Gambar */
.gambar-container {
  text-align: center;
  margin: 20px 0;
}

.gambar-container img {
  width: 500px;
  max-width: 100%;
}

figcaption {
  font-size: 14px;
  font-style: italic;
  margin-top: 8px;
}

.img {
  width: 400px;
  max-width: 100%;
  height: 350px;
  object-fit: cover;
}

.Serti {
  width: 400px;
  max-width: 100%;
  object-fit: cover;
}

/* Dark mode */
body.dark-mode {
  background-color: #021526;
  color: #e2e2b6;
}

.dark-mode .navbar {
  background-color: #121212 !important;
}

.dark-mode .card {
  background-color: #27374d;
  color: #e2e2b6;
}

.dark-mode h2 {
  color: #e2e2b6 !important;
}

.dark-mode .bi-arrow-left-circle {
  color: #e2e2b6 !important;
}

/* Grid Sertifikat */

.card {
  background: white;
  border-radius: 8px;
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-text {
  text-align: justify;
}

/* Footer */
footer {
  background-color: #1679ab;
  color: #f0efea;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

a {
  color: #f0efea;
  text-decoration: none;
}

i {
  color: #d65d40;
}
